<div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">ToDos</a>
            </div>
            <ul class="nav navbar-nav navbar-left">
                <li class="active">
                    <a href="#">List</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#" >Login</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span> List to Do</span>
                <button class="btn btn-success btn-xs">
                    <i class="glyphicon glyphicon-plus"></i>
                    New
                </button>
                <div style="display: inline">
                    <input type="text" name="search" placeholder="Search..." class="pull-right" />
                </div>
            </div>
            <ul class="list-group">
                <li class="list-group-item">
                    <span>My task</span>
                    <span class="label label-info">done</span>
                    <button class="btn btn-default btn-xs pull-right ml-10">
                        <i class="glyphicon glyphicon-remove"></i>
                        Delete
                    </button>
                    <button class="btn btn-default btn-xs pull-right ml-10">
                        <i class="glyphicon glyphicon-edit"></i>
                        Edit
                    </button>
                </li>
            </ul>
        </div>
    </div>
</div>